# Docs for the Azure Functions Deploy action: https://github.com/Azure/functions-action
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Functions - wsi-slides-processor

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: docker.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_19013D366BCF40E6929027106F1C5336 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_AE0D359AD70E4CF6B07D25C1B78AC02E }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: docker.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_19013D366BCF40E6929027106F1C5336 }}/gopalsaini/wsi-slides-processor:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_39D2FD4DBB364854B1F23BCE60488442 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_16D0F7C6225048B7AF70779821F86EB6 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_2FD172D22C374935B060D6608A344AB4 }}

      - name: Deploy to Azure Functions
        id: deploy-to-functions
        uses: azure/functions-deploy@v2
        with:
          app-name: 'wsi-slides-processor'
          slot-name: 'Production'
          images: 'docker.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_19013D366BCF40E6929027106F1C5336 }}/gopalsaini/wsi-slides-processor:${{ github.sha }}'
          